h1 {
    font-family: 'BARTKEY', sans-serif;
    color: white;
    font-weight: 100;
    font-stretch: expanded;
}

.topGradient {
    z-index: 0;
    position: fixed;
    top: 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 35, 79, 1) 0%, rgba(57, 92, 171, 0) 100%);
}

.bottomGradient {
    z-index: 0;
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(54, 2, 79, 0.40) 0%, rgba(152, 57, 171, 0) 100%);
}